<div *ngIf="loggedInUser.ethereumAddress !== null">
    Your Ethereum address: <span class="ethereum-address">{{ loggedInUser.ethereumAddress }}</span>
</div>

<div class="ethereum-address-message">
    <div *ngIf="(userIsLoggedInWithDeclaredAccount() | async)">You're logged in with your Ethereum address. Happy
        shopping!
    </div>
    <div *ngIf="!(userIsLoggedInWithDeclaredAccount() | async)">You're not logged in with your Ethereum address. Log in
        and refresh the page.
    </div>
</div>
