<app-file-uploader (fileUploaded)="fileUploaded($event)"
                   [disableUpload]="uploadShouldBeDisabled">
</app-file-uploader>
<div *ngIf="photosWereUploaded" class="photo-list"
     (cdkDropListDropped)="drop($event)"
     cdkDropList cdkDropListOrientation="horizontal">
    <div *ngFor="let photo of photosList; let myIndex=index;" cdkDrag cdkDragLockAxis="x" class="photo">
        <img alt="Uploaded photo" src="{{photo}}">
        <button class="delete-button"  color="primary"
                (click)="deletePhoto(myIndex)" mat-mini-fab>
            <mat-icon>clear</mat-icon>
        </button>
    </div>
</div>
<div *ngIf="!photosWereUploaded && noPhotosPrompt !== null" class="prompt">
    {{noPhotosPrompt}}
</div>
<div *ngIf="enoughPhotosUploaded" class="prompt">
    {{strings.enoughPhotos}}
</div>
<div *ngIf="tooManyPhotosUploaded" class="error">
    {{strings.tooManyPhotos}}
</div>
