<app-file-uploader (fileUploaded)="fileUploaded($event)"></app-file-uploader>
<div cdkDropList cdkDropListOrientation="horizontal" *ngIf="photosList.length != 0" class="photo-list" (cdkDropListDropped)="drop($event)">
  <div cdkDrag cdkDragLockAxis="x" cdkDragBoundary=".photo-list" class="photo" *ngFor="let photo of photosList; let myIndex=index;" >
    <img src="{{photo}}">
    <button mat-mini-fab color="primary" class="delete-button" (click)="deletePhoto(myIndex)">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
