form {
    display: flex;
    flex-flow: column nowrap;

    padding: 50px 30%;

    //noinspection CssUnusedSymbol
    .mat-raised-button {
        // make this padding smaller to better accommodate longer text
        // and simultaneously allow for natural flex-grow
        padding: 0 4px;
    }

    button {
        flex-basis: 25%;
    }
}
