@import "src/dimens";

app-item-bought-description {
    margin: 0 $dimen-xl;
}

app-item-bought-offer-plain-advance.simple-card-1 {
    margin: 0 $dimen-xxl;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

app-item-bought-offer-double-advance.simple-card-1 {
    margin: 0 $dimen-xxl;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
