<app-item-bought-description
    class="simple-card-3"
    [item]="item">
</app-item-bought-description>
<app-item-bought-contract-plain-advance
    class="simple-card-1"
    *ngIf="offerIsPlainAdvance"
    [offer]="offerAsPlainAdvance"
    [contract]="contract">
</app-item-bought-contract-plain-advance>
<app-item-bought-contract-double-advance
    class="simple-card-1"
    *ngIf="offerIsDoubleAdvance"
    [offer]="offerAsDoubleAdvance"
    [contract]="contract">
</app-item-bought-contract-double-advance>
