<div>
    <input #fileUploaderInput
           id="fileUploaderInput" name="fileUploader"
           hidden multiple type="file" autocomplete="off"
           (change)="onFileSelected($event)"
           accept="{{acceptedTypes}}" />
    <button mat-raised-button color="primary"
            (click)="fileUploaderInput.click()"
            [disabled]="disableUpload">
        {{buttonText}}
        <mat-icon>publish</mat-icon>
    </button>
    <mat-progress-bar *ngIf="isUploading" mode="indeterminate"></mat-progress-bar>
</div>
