<div>
    <input #fileUploaderInput
           (change)="onFileSelected($event)"
           accept="{{acceptedTypes}}"
           autocomplete="off"
           hidden
           id="fileUploaderInput"
           multiple
           name="fileUploader"
           type="file"/>
    <button (click)="fileUploaderInput.click()" [disabled]="disableUpload"
            color="primary"
            mat-raised-button>
        {{buttonText}}
        <mat-icon>publish</mat-icon>
    </button>
    <mat-progress-bar *ngIf="isUploading" mode="indeterminate"></mat-progress-bar>
</div>
