<form [formGroup]="loggingInForm" (submit)="login()">
  <mat-form-field id="username-form-field" appearance="outline">
    <mat-label>{{usernameLabel}}</mat-label>
    <input matInput formControlName="username">
    <mat-error *ngIf="username.hasError('required')">
      {{usernameRequiredMessage}}
    </mat-error>
  </mat-form-field>
  <mat-form-field id="password-form-field" appearance="outline">
    <mat-label>{{passwordLabel}}</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="password.hasError('required')">
      {{passwordRequiredMessage}}
    </mat-error>
  </mat-form-field>
  <div class="logging-in-actions">
    <button mat-raised-button class="minor-button">{{buttonForgotPasswordText}}</button>
    <button mat-raised-button class="major-button" type="submit" [disabled]="loggingInForm.invalid" color="accent">{{buttonLogInText}}</button>
    <button mat-raised-button class="minor-button" color="primary" (click)="routeToRegistration()">{{buttonRegisterText}}</button>
  </div>
</form>
