<mat-tab-group animationDuration="0ms">
    <mat-tab>
        <ng-template matTabLabel>
            Sold by me
        </ng-template>
        <app-sold-by-me [userProfile]="(user$ | async)"></app-sold-by-me>
    </mat-tab>
    <mat-tab>
        <ng-template matTabLabel>
            I want to buy
        </ng-template>
        <app-wanted-by-me [userProfile]="user$ | async"></app-wanted-by-me>
    </mat-tab>
    <mat-tab>
        <ng-template matTabLabel>
            Settings
        </ng-template>
        <my-account-settings class="tab-content"></my-account-settings>
    </mat-tab>
</mat-tab-group>
