<div class="offer-data">
    <div>
        <span class="label">{{strings.labels.offerType}}: </span>
        <span class="value">{{strings.offerTypes.plainAdvance}}</span>
    </div>
    <div>
        <span class="label">{{strings.labels.price}}: </span>
        <span class="value">{{offer?.formattedPrice}}</span>
    </div></div>
<item-sold-contract-details
    class="contract-data"
    *ngIf="contract !== undefined"
    [contractAddress]="offer?.contractAddress"
    [contract]="contract">
</item-sold-contract-details>
<div class="no-contract" *ngIf="contract === undefined">
    Could not load data about the contract. Connect to blockchain to load the data.
</div>
