<form (submit)="emitPasswordChangeRequest()" [formGroup]="form">
    <mat-form-field appearance="outline" id="old-password-form-field">
        <mat-label>
            {{ strings.oldPassword.label}}
        </mat-label>
        <input [errorStateMatcher]="errorStateMatcher" [formControl]="controls.oldPassword"
               matInput
               type="password">
        <mat-error *ngIf="errors.oldPassword.notProvided">
            {{ strings.oldPassword.notProvided }}
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" id="new-password-form-field">
        <mat-label>{{ strings.newPassword.label }}</mat-label>
        <input [errorStateMatcher]="errorStateMatcher" [formControl]="controls.newPassword"
               matInput
               type="password">
        <mat-hint *ngIf="!controls.newPassword.touched">
            {{ strings.newPassword.hint }}
        </mat-hint>
        <mat-error *ngIf="errors.newPassword.notProvided">
            {{ strings.newPassword.notProvided }}
        </mat-error>
        <mat-error *ngIf="errors.newPassword.tooShort">
            {{ strings.newPassword.tooShort }}
        </mat-error>
        <mat-error *ngIf="errors.newPassword.tooLong">
            {{ strings.newPassword.tooLong }}
        </mat-error>
        <mat-error *ngIf="errors.newPassword.doesntMatchPattern">
            {{ strings.newPassword.doesntMatchPattern }}
        </mat-error>
    </mat-form-field>
    <div class=mat-form-button>
        <button [disabled]="form.invalid" color="accent" id="change-password-button" mat-raised-button
                type="submit">
            {{ strings.button }}
        </button>
        <div *ngIf="errors.passwordsAreEqual" class="mat-form-button-error"
             id="change-password-button-error">
            {{ strings.passwordsEqual }}
        </div>
    </div>
</form>
