@import 'src/dimens';

form {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: center;

    > * {
        margin: 0 $dimen-xs;
    }

    mat-form-field {
        flex-basis: 30%;
        max-width: 40%;
    }

    .mat-form-button {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        padding-top: $dimen-xs;
    }

    .mat-form-button-error {
        font-size: 0.75em;
        text-align: center;
        color: red;
    }
}
