<mat-tab-group animationDuration="0ms">
  <mat-tab>
    <ng-template matTabLabel>
      Sold by me
    </ng-template>
    <div>
      <app-sold-by-me></app-sold-by-me>
      <app-sold-by-me></app-sold-by-me>
      <app-sold-by-me></app-sold-by-me>
      <app-sold-by-me></app-sold-by-me>
      <app-sold-by-me></app-sold-by-me>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      I want to buy
    </ng-template>
    <div>
      I want to buy content goes here
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      Settings
    </ng-template>
    <div>
      Settings content goes here
    </div>
  </mat-tab>
</mat-tab-group>
