@import "src/dimens";

:host {
    display: block;
    margin-bottom: $dimen-s;
}

user-item-contract-plain-advance.simple-card-1 {
    margin: 0 $dimen-m;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

user-item-contract-double-advance.simple-card-1 {
    margin: 0 $dimen-m;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
