<form id="registration-form" [formGroup]="registrationForm">
  <mat-form-field id="username-form-field" appearance="outline">
    <mat-label>{{usernameLabel}}</mat-label>
    <input matInput [formControl]="username" [errorStateMatcher]="errorStateMatcher">
    <mat-hint *ngIf="!username.touched">
      {{usernameHint}}
    </mat-hint>
    <mat-error *ngIf="this.username.hasError('required')">
      {{usernameRequiredMessage}}
    </mat-error>
    <mat-error *ngIf="this.username.hasError('minlength')">
      {{minimumUsernameLengthMessage}}
    </mat-error>
    <mat-error *ngIf="this.username.hasError('maxlength')">
      {{maximumUsernameLengthMessage}}
    </mat-error>
    <mat-error *ngIf="this.username.hasError('pattern') && !this.username.hasError('minlength') && !this.username.hasError('maxLength')">
      {{usernamePatternMessage}}
    </mat-error>
  </mat-form-field>
  <mat-form-field id="password-form-field" appearance="outline">
    <mat-label>{{passwordLabel}}</mat-label>
    <input matInput type="password" [formControl]="password" [errorStateMatcher]="errorStateMatcher">
    <mat-hint *ngIf="!password.touched">
      {{passwordHint}}
    </mat-hint>
    <mat-error *ngIf="this.password.hasError('required')">
      {{passwordRequiredMessage}}
    </mat-error>
    <mat-error *ngIf="this.password.hasError('minlength')">
      {{minimumPasswordLengthMessage}}
    </mat-error>
    <mat-error *ngIf="this.password.hasError('maxlength')">
      {{maximumPasswordLengthMessage}}
    </mat-error>
    <mat-error *ngIf="this.password.hasError('pattern') && !this.password.hasError('minlength') && !this.password.hasError('maxlength')">
      {{passwordPatternMessage}}
    </mat-error>
  </mat-form-field>
  <button [disabled]="registrationForm.invalid" mat-raised-button class="register-btn" type="submit" color="accent" (click)="register()">{{buttonRegisterText}}</button>
</form>
