<form (submit)="emitPasswordChangeRequest()" [formGroup]="form">
    <mat-form-field appearance="outline" id="old-password-form-field">
        <mat-label>
            {{ strings.oldPassword.label}}
        </mat-label>
        <input matInput type="password"
               [errorStateMatcher]="errorStateMatcher"
               [formControl]="controls.oldPassword">
        <mat-error *ngIf="errors.oldPassword.notProvided">
            {{ strings.oldPassword.notProvided }}
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" id="new-password-form-field">
        <mat-label>{{ strings.newPassword.label }}</mat-label>
        <input matInput type="password"
               [errorStateMatcher]="errorStateMatcher"
               [formControl]="controls.newPassword">
        <mat-hint *ngIf="!controls.newPassword.touched">
            {{ strings.newPassword.hint }}
        </mat-hint>
        <mat-error *ngIf="errors.newPassword.notProvided">
            {{ strings.newPassword.notProvided }}
        </mat-error>
        <mat-error *ngIf="errors.newPassword.tooShort">
            {{ strings.newPassword.tooShort }}
        </mat-error>
        <mat-error *ngIf="errors.newPassword.tooLong">
            {{ strings.newPassword.tooLong }}
        </mat-error>
        <mat-error *ngIf="errors.newPassword.doesntMatchPattern">
            {{ strings.newPassword.doesntMatchPattern }}
        </mat-error>
        <!-- -->
    </mat-form-field>
    <div class=mat-form-button>
        <button id="change-password-button" type="submit"
                [disabled]="errors.formIsInvalid" color="accent"
                mat-raised-button>
            {{ strings.button }}
        </button>
        <div id="change-password-button-error" class="mat-form-button-error"
             *ngIf="errors.passwordsAreEqual">
            {{ strings.passwordsEqual }}
        </div>
    </div>
</form>
