@import 'src/dimens.scss';

h1 {
  margin-top: $dimen-s;
}

form {
  // disable arrows in <input type="number">
  // https://css-tricks.com/snippets/css/turn-off-number-input-spinners/
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // https://stackoverflow.com/a/23374725/8059957
  input[type=number] {
    -moz-appearance: textfield;
  }

  .form-fields {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .title-field {
      width: 60%;
    }

    .price-field {
      width: 35%;
    }

    .status-field, .category-field {
      width: 47.5%;
    }

    .description-field {
      width: 100%;
    }
  }

  .form-actions {
    text-align: end;
  }

  width: 100%;
}
