<div class="offer-data">
    <div>
        <span class="label">{{strings.labels.offerType}}: </span>
        <span class="value">{{strings.offerTypes.plainAdvance}}</span>
    </div>
    <div>
        <span class="label">{{strings.labels.price}}: </span>
        <span class="value">{{offer?.formattedPrice}}</span>
    </div>
    <div>
        <span class="label">{{strings.labels.advance}}: </span>
        <span class="value">{{offer?.formattedAdvance}}</span>
    </div>
</div>
<div class="contract-data" *ngIf="contract !== undefined">
    <div>
        <span class="label">{{strings.labels.contractStatus}}: </span>
        <span class="value">{{state}}</span>
    </div>
    <button color="accent" mat-raised-button>
        {{strings.labels.seeDetails}}
    </button>
</div>
<div class="no-contract" *ngIf="contract === undefined">
    Could not load data about the contract. Connect to blockchain to load the data.
</div>
