<div class="offer-data">
    <div>
        <span class="label">{{strings.labels.offerType}}: </span>
        <span class="value">{{strings.offerTypes.plainAdvance}}</span>
    </div>
    <div>
        <span class="label">{{strings.labels.price}}: </span>
        <span class="value">{{offer?.formattedPrice}}</span>
    </div>
    <div>
        <span class="label">{{strings.labels.advance}}: </span>
        <span class="value">{{offer?.formattedAdvance}}</span>
    </div>
</div>
<app-item-bought-contract-details
    class="contract-data"
    *ngIf="contract !== undefined"
    [contractAddress]="offer?.contractAddress"
    [contract]="contract">
</app-item-bought-contract-details>
<div class="no-contract" *ngIf="contract === undefined">
    Could not load data about the contract. Connect to blockchain to load the data.
</div>
