<div class="offer-data">
    <div>
        <span class="label">{{strings.labels.offer.offerType}}: </span>
        <span class="value">{{strings.offerTypes.plainAdvance}}</span>
    </div>
    <div>
        <span class="label">{{strings.labels.offer.price}}: </span>
        <span class="value">{{offer?.formattedPrice}}</span>
    </div>
    <div>
        <span class="label">{{strings.labels.offer.advance}}: </span>
        <span class="value">{{offer?.formattedAdvance}}</span>
    </div>
</div>
<div class="contract-data"
     *ngIf="contract !== undefined">
    <div>
        <span class="label">{{strings.labels.contract.address}}: </span>
        <span class="value">{{offer.contractAddress}}</span>
        <mat-divider></mat-divider>
    </div>
    <div>
        <span class="label">{{strings.labels.contract.status}}: </span>
        <span class="value">{{state}}</span>
    </div>
    <div>
        <span class="label">{{strings.labels.contract.balance}}: </span>
        <span class="value">{{balance}} {{strings.labels.contract.ethereumSymbol}}</span>
    </div>
</div>
<div class="no-contract" *ngIf="contract === undefined">
    Could not load data about the contract. Connect to blockchain to load the data.
</div>
