@import "src/dimens";

item-bought-description {
    margin: 0 $dimen-xl;
}

item-bought-contract-plain-advance.simple-card-1 {
    margin: 0 $dimen-xxl;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

item-bought-contract-double-advance.simple-card-1 {
    margin: 0 $dimen-xxl;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
