<form class="search-container">
  <div class="search-container-row">
    <mat-form-field appearance="fill" class="search-input">
      <mat-label>Look for item</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select>
        <mat-option>Books</mat-option>
        <mat-option>Clothes</mat-option>
        <mat-option>Books</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="search-container-row">
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Distance</mat-label>
      <input matInput type="number">
      <span matSuffix>km</span>
    </mat-form-field>
  </div>
  <div class="search-container-row">
    <mat-form-field appearance="fill">
      <mat-label>Minimal price</mat-label>
      <input matInput type="number">
      <span matSuffix>zł</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Maximal price</mat-label>
      <input matInput type="number">
      <span matSuffix>zł</span>
    </mat-form-field>
  </div>
  <div>display mode</div>
</form>
