@import '~@angular/material/theming';
@import 'src/dimens.scss';

:host {
  height: 100%;
  display: block;
}

$toolbar-height: $dimen-m;
$side-padding: 15vw;

.toolbar {
  position: fixed;
  top: 0;
  height: $toolbar-height;

  @include mat-elevation(5);
  z-index: 5;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .toolbar-logo {
    height: 100%;
  }
}

.app-content {
  padding: $toolbar-height $side-padding $dimen-xs $side-padding;
  overflow-y: auto;
  height: 100%;
}
