<item-sold-description
    class="simple-card"
    (click)="navigateToItem()"
    [item]="item">
</item-sold-description>
<div class="simple-card conversation-container" *ngIf="thereAreConversations">
    <!-- fancier version of an *ngFor directive, allows me to squeeze in mat-dividers -->
    <ng-template ngFor let-conversation [ngForOf]="item.conversations" let-isLast="last">
        <item-sold-conversation
            (click)="navigateToConversation(conversation)"
            [conversation]="conversation">
        </item-sold-conversation>
        <mat-divider *ngIf="!isLast"></mat-divider>
    </ng-template>
</div>
