@import '~@angular/material/theming';

.item-offer {
  @include mat-elevation(2);
  z-index: 2;

  margin: 0 150px;

  display: flex;
  flex-flow: row nowrap;
}

.item-offer-message {
  margin: 0 15px;
  flex-grow: 3;
}

.item-offer-sender {
  font-size: large;
}

.item-offer-message-text {
  font-size: small;
}
