@import "src/dimens";

:host {
    display: block;
    margin-bottom: $dimen-s;
}

item-wanted-to-sell-description {
    margin: 0 $dimen-xl;
}

.conversation-container {
    margin: 0 $dimen-xxl;

    border-top-right-radius: 0;
    border-top-left-radius: 0;

    mat-divider {
        margin: $dimen-xxs 0;
    }
}
