<div (click)="navigateToItem()" class="simple-card-3">
    <div class="item-card-img-container">
        <img (error)="item?.fixPhotoUrl(0)" [src]="itemPhotoUrl" alt="Main item photo">
    </div>
    <div class="item-card-details-container">
        <div class="item-card-details-header">
            <div class="item-card-details-title">{{item?.title}}</div>
            <div *ngIf="item?.usedStatusIsApplicable" class="item-card-details-status">{{item?.usedStatus}}</div>
        </div>
        <div class="item-card-details-added-by">
            {{strings.addedBy}} <a>{{item?.addedBy?.username}}</a> on {{item?.addedOn | date}}
        </div>
        <div class="item-card-details-category">
            {{strings.category}}: <a>{{item?.category?.name}}</a>
        </div>
        <div class="item-card-details-price">{{item?.formattedPrice}}</div>
    </div>
</div>

