@import 'node_modules/@angular/material/theming';

@mixin purchase-offer-main {
  offer {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    height: 100%;
  }
}

@mixin purchase-offer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .offer-conversation {
    background-color: mat-color($primary, 100);
  }
}
