<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ passwordChangeMessages.accountSettingsTitle }}
      </mat-panel-title>
      <mat-panel-description>
        {{ passwordChangeMessages.accountSettingsDescription }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="settings-section">
      <div class="settings-section-header">{{ passwordChangeMessages.changePasswordTitle }}</div>
      <div class="settings-section-content password-change-form">
        <form [formGroup]="passwordChangeForm" (submit)="sendPasswordChangeRequest()">
          <mat-form-field id="old-password-form-field" appearance="outline">
            <mat-label>
              {{ passwordChangeMessages.oldPasswordLabel }}
            </mat-label>
            <input matInput type="password" [formControl]="oldPasswordInput" [errorStateMatcher]="errorStateMatcher" />
            <mat-error *ngIf="oldPasswordNotProvided">
              {{ passwordChangeMessages.oldPasswordRequiredMessage }}
            </mat-error>
          </mat-form-field>
          <mat-form-field id="new-password-form-field" appearance="outline">
            <mat-label>{{ passwordChangeMessages.newPasswordLabel }}</mat-label>
            <input matInput type="password" [formControl]="newPasswordInput" />
            <mat-hint *ngIf="!newPasswordInput.touched">
              {{ passwordChangeMessages.newPasswordHint }}
            </mat-hint>
            <mat-error *ngIf="newPasswordNotProvided">
              {{ passwordChangeMessages.newPasswordRequiredMessage }}
            </mat-error>
            <mat-error *ngIf="newPasswordTooShort">
              {{ passwordChangeMessages.minimumPasswordLengthMessage }}
            </mat-error>
            <mat-error *ngIf="newPasswordTooLong">
              {{ passwordChangeMessages.maximumPasswordLengthMessage }}
            </mat-error>
            <mat-error *ngIf="newPasswordDoesntMatchPattern">
              {{ passwordChangeMessages.passwordPatternMessage }}
            </mat-error>
          </mat-form-field>
          <div class=mat-form-button>
            <button id="change-password-button" mat-raised-button color="accent" type="submit" [disabled]="passwordChangeForm.invalid">
              {{ passwordChangeMessages.changePasswordButtonText }}
            </button>
            <div id="change-password-button-error" *ngIf="passwordsAreEqual" class="mat-form-button-error">
              {{ passwordChangeMessages.passwordsEqualMessage }}
            </div>
          </div>
        </form>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="settings-section">
      <div class="settings-section-header">Dummy section</div>
      <div>no content here</div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
