@import 'src/dimens';
@import 'src/typography';

.simple-card {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    margin-bottom: $dimen-s;

    @include body;

    .item-card-img-container {
        width: 20%;
        border: 1px solid lightgrey;
        border-radius: $dimen-xxs;

        margin-right: $dimen-xs;

    text-align: center;

    img {
      height: $dimen-xxl;
      width: 100%;
      object-fit: contain;
      margin-bottom: -$dimen-xxs; // HACK: don't know why is this required, but aligns photos nicely enough
    }
  }

  .item-card-details-container {
    width: 80%;
    position: relative;

    .item-card-details-header {
      width: 100%;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      .item-card-details-title {
          max-width: 85%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          @include header-2;
      }

      .item-card-details-status {
        text-align: end;

        @include header-2($mono: true);
      }
    }

    .item-card-details-added-by {
      @include body-accent
    }

    .item-card-details-price {
      @include header-3($mono: true);
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
