<div class="item-header simple-card">
  <div class="item-header-row">
    <span class="item-title">{{item?.title}}</span>
    <span class="item-price">{{item?.formattedPrice}}</span>
  </div>
  <div class="item-header-row">
    <div class="item-details">
      <span *ngIf="item?.usedStatusIsApplicable" class="item-detail">{{item?.usedStatus.toString()}}</span>
      <span class="item-detail">{{strings.category}}: {{item?.category.name}}</span>
    </div>
    <div *ngIf="item?.closedOn === null" class="item-actions">
      <button mat-raised-button>{{strings.buttons.sendMessage}}</button>
      <button mat-raised-button color="primary">{{strings.buttons.sendOffer}}</button>
      <button mat-raised-button color="accent">{{strings.buttons.acceptOffer}}</button>
    </div>
    <div *ngIf="item?.itemIsClosed">
      {{strings.offerClosed}} {{item?.closedOn | date}}
    </div>
  </div>
</div>
<div class="item-content">
  <div class="item-photos">
    <mat-carousel
      timings="250ms ease-in"
      [autoplay]="false"
      color="primary"
      [loop]="true"
      [hideArrows]="false"
      [hideIndicators]="false"
      [maxWidth]="'100%'"
      [useKeyboard]="false"
      [useMouseWheel]="false"
      [maintainAspectRatio]="false"
      orientation="ltr">
      <mat-carousel-slide
        *ngFor="let url of itemPhotoUrls"
        overlayColor="#00000000"
        [hideOverlay]="false">
        <div class="item-photo">
          <img alt="Item photo" [src]="url">
        </div>
      </mat-carousel-slide>
    </mat-carousel>
  </div>
  <div class="item-description-and-seller">
    <div class="item-seller">
      <div>
        {{strings.offeredBy}} <a>{{item?.addedBy.username}}</a>
      </div>
      <div>
        {{strings.added}} {{item?.addedOn | date}}
      </div>
    </div>
    <div>
      {{item?.description}}
    </div>

  </div>
</div>



