@import '~@angular/material/theming';
@import 'src/dimens';
@import 'src/typography';

:host {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

// TODO: fix height when description is too long
.item-content {
    flex-grow: 100;

    display: flex;
    flex-flow: row nowrap;
}


