@import 'node_modules/@angular/material/theming';

.item-description-card {
  @include mat-elevation(3);
  z-index: 3;

  display: flex;
  flex-flow: row nowrap;

  img {
    height: 200px;
    margin-right: 15px;
  }
}

.item-description-stuff {
  // used to make the rest of the card (header + content)
  // fill the rest of the card
  flex-grow: 3;
}

.item-description-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}
