@import 'node_modules/@angular/material/theming';

@mixin sold-by-me-description-typography($config) {
    //noinspection CssInvalidHtmlTagReference
    .item-description-header > mat-card-title {
        font: {
            size: mat-font-size($config, headline);
        }
    }

    .item-description-header > div {
        font: {
            size: mat-font-size($config, subheading-2);
        }
    }
}
