
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'src/app/offer/offer.component.theme';
@import 'src/app/my-account/item-sold/item-sold-description/item-sold-description.component.theme';
@import 'src/app/item-browsing/item-browsing-criteria/item-browsing-criteria.component.theme';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes.
$primary: mat-palette($mat-blue-gray);
$accent: mat-palette($mat-orange, A200, A100, A400);
$warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

@include search-container-theme($theme);
@include search-container-typography(mat-typography-config());

@include sold-by-me-description-typography(mat-typography-config());

@include purchase-offer-main;
@include purchase-offer-theme($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// allows hints in inputs to be shown in full and not be hidden by other elements
mat-form-field {
  .mat-form-field-subscript-wrapper {
    position: revert;
  }
}
