
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'src/dimens';
@import 'src/typography';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes.
$primary: mat-palette($mat-blue-gray);
$accent: mat-palette($mat-orange, A200, A100, A400);
$warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

// reset box-sizing
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body { height: 100%; }
body {
  margin: 0;
  @include body
}

// allows hints in inputs to be shown in full and not be hidden by other elements
//noinspection CssInvalidHtmlTagReference
mat-form-field {
    .mat-form-field-subscript-wrapper {
        position: revert;
    }

    //noinspection CssUnusedSymbol
    .mat-form-field-prefix {
        top: revert !important;
    }
}

//noinspection ALL,CssUnusedSymbol
.mat-tab-body-content {
    padding: $dimen-xs;
}

// TODO: extract this to a proper theme mixin?
.simple-card-3 {

    display: block;
    @include mat-elevation(3);
    z-index: 3;
    border-radius: $dimen-xxs;
    padding: $dimen-xs;
}

.simple-card-1 {

    display: block;
    @include mat-elevation(1);
    z-index: 1;
    border-radius: $dimen-xxs;
    padding: $dimen-xs;
}


form {
    // disable arrows in <input type="number">
    // https://css-tricks.com/snippets/css/turn-off-number-input-spinners/
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    // https://stackoverflow.com/a/23374725/8059957
    input[type=number] {
        -moz-appearance: textfield;
    }
}
