@import '~@angular/material/theming';
@import 'src/dimens.scss';

:host {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.item-header {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;

  margin-bottom: $dimen-xs;

  .item-header-row {
    width: 100%;
    margin: $dimen-xs 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .item-header-row:last-of-type {
    margin-bottom: 0;
  }

  .item-details > * {
    font-family: Roboto Mono, monospace;
    font-weight: 300;
    font-style: italic;
    font-size: 1.2em;
    margin: 0 $dimen-s;
  }

  .item-details > *:first-of-type {
    margin: 0;
  }

  .item-actions > * {
    margin: 0 $dimen-xs;
  }
}

.item-content {
  flex-grow: 100;

  display: flex;
  flex-flow: row nowrap;

  .item-photos {
    flex-basis: 70%;
    margin-right: $dimen-xxs;
    border-radius: $dimen-xxs;
    border: lightgray 1px solid;

    .item-photo {
      height: 100%;
      width: 100%;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
  }

  .item-description-and-seller {
    flex-basis: 30%;
    margin-left: $dimen-xxs;

    display: flex;
    flex-flow: column nowrap;

    .item-seller {
      text-align: end;

      margin-bottom: $dimen-xs;

      font-size: 1.2em;
      font-weight: lighter;
      font-family: Roboto Mono, monospace;
      font-style: italic;
    }
  }
}

.item-title {
  font-size: 2em;
  font-weight: bold;
}

.item-price {
  font-family: Roboto Mono, monospace;
  font-size: 2em;
  font-weight: lighter;
}


