<mat-carousel
    [autoplay]="false"
    [hideArrows]="item!.hasAtMostOnePhoto"
    [hideIndicators]="item!.hasAtMostOnePhoto"
    [loop]="true"
    [maintainAspectRatio]="false"
    [maxWidth]="'100%'"
    [useKeyboard]="false"
    [useMouseWheel]="false"
    color="primary"
    orientation="ltr"
    timings="250ms ease-in">
    <mat-carousel-slide *ngIf="item?.doesNotHavePhotos else slidesWithPhotos"
                        [hideOverlay]="true">
        <div class="item-photo gradient-bg">
            <img [src]="'assets/no-photo.png'" alt="Item photo">
        </div>
    </mat-carousel-slide>
    <ng-template #slidesWithPhotos>
        <mat-carousel-slide
            *ngFor="let url of itemPhotoUrls; let i = index;"
            [hideOverlay]="true">
            <div class="item-photo">
                <img (error)="item?.fixPhotoUrl(i)" [src]="url" alt="Item photo">
            </div>
        </mat-carousel-slide>
    </ng-template>

</mat-carousel>
