@import 'src/dimens';
@import 'src/typography';

:host {
    flex-basis: 70%;
    margin-right: $dimen-xxs;
    border-radius: $dimen-xxs;
    border: lightgray 1px solid;
}

.item-photo {
    height: 100%;
    width: 100%;
    border-radius: $dimen-xxs;

    img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}

.gradient-bg {
    background: rgb(100,147,213);
    background: linear-gradient(145deg, rgba(100,147,213,1) 0%, rgba(255,255,255,1) 85%);
    padding: $dimen-l;
}
